.main {
  margin: 1em auto;
  width: 80em;
}

/*********************************** LANDING **********************************/

.landing {
  text-align: center;
}
  .landing p {
    margin: 2em 0;
  }
  .landing .recent {
    list-style: none;
    text-align: center;
    margin-top: 1em;
  }
  .recent li {
    display: inline-block;
    padding-right: 2em;
  }

.github-login {
  margin: 1em 0;
}
  .github-login span {
    background: url(../img/github-32.png) left center no-repeat;
    padding-left: 45px;
    display: inline-block;
    height: 32px;
    line-height: 32px;
  }

/*********************************** GENERAL **********************************/

.header {
  overflow: hidden;
}
.footer {
  text-align: center;
}

/********************************** REPO LIST *********************************/

.repo-list {
  width: auto;
  margin: 1em auto;
}
.repo-list caption {
  padding: 2em 0;
}
  .repo-list h5 {
    display: inline-block;
    margin: 0;
    font-size: 1.4em;
    font-weight: normal;
  }
  .repo-list .repo {
    padding-right: 3em;
  }


/*********************************** GENERIC **********************************/

.error { 
  color: red; 
}
